* {
    margin: 0;
    padding: 0;
}

.b{
    background-image: url("pipicucu.jpg");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 900px;
}

.logo{
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 40px;
}

.chin{
    background-color: #000000;
    opacity: 75%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 2vh;
}

.arriba{
    display: flex;
    list-style: none;
}

.arriba2{
    display: flex;
    margin-right: 30px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.arriba2:hover{
    color: #FF8000; 
    font-size: 25px;
}

.divheader {
    display: flex;
    justify-content: center;
}

.fo {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 40px 0px;
	position: relative;
	font-family: sans-serif;
}

.texto{
    display: flex;
    text-align: center;
    background-color: rgb(255, 128, 0, 0.5);
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.limain1{
    list-style: none;
    display: inline-block;
    border: 5px solid rgb(0, 0, 0,0.5);
    width: 150%;
}

.limain2{
    list-style: none;
    display: inline-block;
    text-align: center;
    border-top: 5px solid rgb(0, 0, 0,0.5);
    border-bottom: 5px solid rgb(0, 0, 0,0.5);
}

.limain3{
    list-style: none;
    display: inline-block;
    text-align: center;
    border: 5px solid rgb(0, 0, 0,0.5);
}

.mainsec {
    z-index: 3;
    position: relative;
    bottom: 130px;
    height: 500px;
    background-color: #f86402de;
    background-size: cover;
    background-repeat: no-repeat;
}

.secdiv{
    position: relative;
    display: flex;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 var(--transparentBlacker), 0 6px 20px 0 var(--transparentBlacker);
    margin-top: 160px;
    margin-left: 175px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: 15px;
    width: 80%;
    height: 385px;
    color: rgb(20, 20, 20);
}

.fo{
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.fodiv{
    max-width: 1200px;
    margin: 0 auto;
}

.fodivh4{
    font-size: 20px;
    color: #ffffff;
    padding: 20px;
    border-bottom: 2px solid rgb(118, 179, 194);
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 200px;
}

.foa{
    display: inline-block;
}

.foa a{
    text-decoration: none;
    color: #FFFFFF;
}

.foa img{
    vertical-align: middle;
    width: 24px;
    margin-right: 5px;
}

.foa span{
    vertical-align: middle;
}